@font-face {
    font-family: 'Sora';
    src: url(../fonts/Sora-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Sora';
    src: url(../fonts/Sora-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Sora';
    src: url(../fonts/Sora-Regular.ttf  );
    font-weight: 400;
}
@font-face {
    font-family: 'Sora';
    src: url(../fonts/Sora-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'DMSans';
    src: url(../fonts/DMSans-Bold.ttf);
    font-weight: 700;
}